<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="../static/CreateEventPage.css" th:href="@{CreateEventPage.css}" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- jQuery UI CSS -->
    <link href="../static/jquery-ui/jquery-ui.css" th:href="@{jquery-ui/jquery-ui.css}" type="text/css" rel="stylesheet">
    <!-- Bootstrap styling for Typeahead -->
    <link href="../static/inputTags/dist/css/tokenfield-typeahead.css" th:href="@{inputTags/dist/css/tokenfield-typeahead.css}" type="text/css" rel="stylesheet">
    <!-- Tokenfield CSS -->
    <link href="../static/inputTags/dist/css/bootstrap-tokenfield.css" th:href="@{inputTags/dist/css/bootstrap-tokenfield.css}" type="text/css" rel="stylesheet">
    <!-- Docs CSS -->
    <link href="../static/inputTags/docs-assets/css/pygments-manni.css" th:href="@{inputTags/docs-assets/css/pygments-manni.css}" type="text/css" rel="stylesheet">
    <link href="../static/inputTags/docs-assets/css/docs.css" th:href="@{inputTags/docs-assets/css/docs.css}" type="text/css" rel="stylesheet">

</head>

<body>
<header th:replace="baseTemplate.html :: header"></header>
<!--<header th:replace="baseTemplate :: header">-->
<!--    <img src="../static/hodgelogo.JFIF">-->

<!--</header>-->

        <br><br>
        <center><h1>Create a New Event</h1></center>

            <form class="form-horizontal" action="/eventcreation" method="POST" th:object="${createEvent}"> <!---->
                <div class="container">

                <label for="eventTitle">Event Title</label>
                <input class="form-control" type="text" id="eventTitle" name="eventTitle" placeholder="Event title.."><br> <!--th:field="*{eventTitle}"-->
    
                <label for="eventDesc">Description</label>
                <textarea class="form-control" id="eventDesc" name="eventDesc" placeholder="Event description..." ></textarea> <!-- th:field="*{eventDesc}"-->
                <br>
                    <label for="location">Location</label>
                    <textarea class="form-control" id="location" name="location" placeholder="Event location..." ></textarea> <!--th:field="*{location}"-->
                    <br>
    
                <label for="eventTime">Event Time</label>
                <input class="form-control" type="time" id="eventTime" name="eventTime" placeholder="Event Time" ><br> <!--th:field="*{eventTime}"-->
    
                <label for="eventDate">Event Date</label>
                <input class="form-control" type="date" id="eventDate" name="eventDate" placeholder="Event Date" ><br> <!--th:field="*{eventDate}"-->
            
                <label for="tokenfield-2">Invite</label>
                <input type="text" class="form-control" id="tokenfield-2" placeholder="Type email address and hit enter" />
              
            </div>
                <br><br>

<!--               <input id="radioTeam" type="radio" name="eventtype" value="team" onclick="showTeamEventForm()">Team Sign-->
<!--               Up Event-->
<!--               <input id="radioIndividual" type="radio" name="eventtype" value="individual" onclick="hideTeamEventForm()">-->
<!--               Individual Sign Up Event-->
<!--                <br>-->
<!--               <div id="eventtypeform">-->
<!--                   <label for="teamsize">Maximum number of people in a team</label>-->
<!--                   <input type="text" id="teaminput" name="teamsize">-->
<!--                   <label for="numofteams">Maxiumum number of teams</label>-->
<!--                   <input type="text" id="teaminput" name="numofteams">-->
<!--                </div>-->
<!--               <br>-->

                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
           
                <input id="submitbutton" type="submit" value="Submit"><br>

                <button onclick="myFunction()">Click me</button>
                <script>
                    function myFunction() {
                    var invited = $('#tokenfield-2').tokenfield('getTokensList');
                    var invitedJSON = JSON.stringify(invited);

                    // $.ajax({
                    //     type: "POST",
                    //     url: "invite",
                    //     data: { name: invitedJSON } // parameters
                    // })

                    $.ajax({
                        type: "POST",
                        contentType: 'application/json; charset=utf-8',
                        dataType: 'json',
                        url: "/invite",
                        data: invitedJSON, // assignment of the variable
                        success: function (result) { //not sure if needed
                        }
                    });
                    // function doRequest(url) {

                        // //Create a new XMLHttpRequestObject
                        // var xhttp = new XMLHttpRequest();
                        //
                        // //Define a function to run when the request is attempted (after send())
                        // xhttp.onreadystatechange = function() {
                        //     //if the request is completed (https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/readyState)
                        //     //and the response is successful https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/readyState
                        //     if (this.readyState == 4 && this.status == 200) {
                        //
                        //         //Grab the HTML element with the id "theContent" and change its inner HTML (all of its contents)
                        //         //to be the response that is sent back from the server
                        //         document.getElementById("theContent").innerHTML = this.responseText;
                        //     }
                        // };

                        // //Set the request to be a GET request, to the url provided, and do the request asynchronously
                        // //https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/open
                        // xhttp.open("POST", url, true);
                        //
                        // //Send the request
                        // xhttp.send(invitedJSON);

                    // }

                    // function getEmails(){
                    // $('#tokenfield-2').tokenfield('getTokensList');
                    // }

                        // alert($('#tokenfield-2').tokenfield('getTokensList'));
                    }
                </script>
                </div>
            </form>
    </div>

<br>

<script src="../static/CreateEventPage.js" th:src="@{CreateEventPage.js}"></script>

<!--Script for email adress tokens -->
<script type="text/javascript" src="../static/jQuery.js" th:src="@{jQuery.js}"></script>
<script type="text/javascript" src="../static/jquery-ui/jquery-ui.js" th:src="@{jquery-ui/jquery-ui.js}"></script>
<script type="text/javascript" src="../static/inputTags/dist/bootstrap-tokenfield.js" th:src="@{inputTags/dist/bootstrap-tokenfield.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../static/inputTags/docs-assets/js/scrollspy.js" th:src="@{inputTags/docs-assets/js/scrollspy.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../static/inputTags/docs-assets/js/affix.js" th:src="@{inputTags/docs-assets/js/affix.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../static/inputTags/docs-assets/js/typeahead.bundle.min.js" th:src="@{inputTags/docs-assets/js/typeahead.bundle.min.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../static/inputTags/docs-assets/js/docs.min.js" th:src="@{inputTags/docs-assets/js/docs.min.js}" charset="UTF-8"></script><!--This file contains values for dropdown list (department/team names: HR, Finance, IT, etc.)-->

</body>
</html>
