<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="../static/CreateEventPage.css" th:href="@{CreateEventPage.css}" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../static/bootstrap/css/bootstrap.min.css" th:href="@{bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- jQuery UI CSS -->
    <link href="../static/jquery-ui/jquery-ui.css" th:href="@{jquery-ui/jquery-ui.css}" type="text/css" rel="stylesheet">
    <!-- Bootstrap styling for Typeahead -->
    <link href="../static/inputTags/dist/css/tokenfield-typeahead.css" th:href="@{inputTags/dist/css/tokenfield-typeahead.css}" type="text/css" rel="stylesheet">
    <!-- Tokenfield CSS -->
    <link href="../static/inputTags/dist/css/bootstrap-tokenfield.css" th:href="@{inputTags/dist/css/bootstrap-tokenfield.css}" type="text/css" rel="stylesheet">
    <!-- Docs CSS -->
    <link href="../static/inputTags/docs-assets/css/pygments-manni.css" th:href="@{inputTags/docs-assets/css/pygments-manni.css}" type="text/css" rel="stylesheet">
    <link href="../static/inputTags/docs-assets/css/docs.css" th:href="@{inputTags/docs-assets/css/docs.css}" type="text/css" rel="stylesheet">

</head>

<body>
<header>
    <img src="../static/hodgelogo.JFIF" th:src="@{hodgeLogo.JFIF}">

<div class="navsection">
    <nav>
        <ul class="navcontainer">
            <li><a class="navsectionlink" href="viewEvents.html" th:href="@{viewEvents}">Home</a></li>
            <li><a class="navsectionlink"  th:href="@{CreateEventPage}">Create Event</a></li>
            <li><a class="navsectionlink" th:if="${session.SESSION_USERNAME != null}" href="/logout">Log Out</a></li>
        </ul>
    </nav>
</div>
</header>
<!--<header th:replace="baseTemplate :: header">-->
<!--    <img src="../static/hodgelogo.JFIF">-->

<!--</header>-->
<div class="main">

        <br><br>
        <center><h1>Create a New Event</h1></center>

            <form class="form-horizontal">
                <div class="container">

                <label for="eventtitle">Event Title</label>
                <input class="form-control" type="text" id="eventtitle" name="eventtitle" placeholder="Event title.."><br>
    
                <label for="eventdescription">Description</label>
                <textarea class="form-control" id="eventdescription" name="eventdescription" placeholder="Event description..."></textarea>
                <br>

                    <label for="eventLocation">Location</label>
                    <textarea class="form-control" id="eventLocation" name="eventLocation" placeholder="Event location..."></textarea>
                    <br>
    
                <label for="eventtime">Event Time</label>
                <input class="form-control" type="time" id="eventtime" name="eventtime" placeholder="Event Time"><br>
    
                <label for="eventdate">Event Date</label>
                <input class="form-control" type="date" id="eventdate" name="eventdate" placeholder="Event Date"><br>
            
                <label for="tokenfield-2">Invite</label>
                <input type="text" class="form-control" id="tokenfield-2" placeholder="Type email address and hit enter" />
              
            </div>
                <br><br>
<div class="radiocontainer">
               <input id="radioinput" type="radio" name="eventtype" value="team" onclick="showTeamEventForm()">Team Event
               <input id="radioinput" type="radio" name="eventtype" value="individual" onclick="hideTeamEventForm()">
               Individual Event
</div>
                <br>
               <div id="eventtypeform">
                   <div class="teamcontainer">
                       <div class="teamchoice">
                   <label for="teamsize">Max. number of people per team</label>
                   <input type="text" id="teaminput" name="teamsize">
                   </div>
                   <div class="teamchoice">
                   <label for="numofteams">Max. number of teams</label>
                   <input type="text" id="teaminput" name="numofteams">
                   </div>
                </div>
               </div>
               <br>
           
                <input id="submitbutton" type="submit" value="Submit"><br>
<!--               th:name="${_csrf.parameterName}" th:value="${_csrf.token}-->

            </form>
    </div>

<br>

<script src="../static/CreateEventPage.js" th:src="@{CreateEventPage.js}"></script>

<!--Script for email adress tokens -->
<script type="text/javascript" src="../static/jQuery.js" th:src="@{jQuery.js}"></script>
<script type="text/javascript" src="../static/jquery-ui/jquery-ui.js" th:src="@{jquery-ui/jquery-ui.js}"></script>
<script type="text/javascript" src="../static/inputTags/dist/bootstrap-tokenfield.js" th:src="@{inputTags/dist/bootstrap-tokenfield.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../static/inputTags/docs-assets/js/scrollspy.js" th:src="@{inputTags/docs-assets/js/scrollspy.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../static/inputTags/docs-assets/js/affix.js" th:src="@{inputTags/docs-assets/js/affix.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../static/inputTags/docs-assets/js/typeahead.bundle.min.js" th:src="@{inputTags/docs-assets/js/typeahead.bundle.min.js}" charset="UTF-8"></script>
<script type="text/javascript" src="../static/inputTags/docs-assets/js/docs.min.js" th:src="@{inputTags/docs-assets/js/docs.min.js}" charset="UTF-8"></script><!--This file contains values for dropdown list (department/team names: HR, Finance, IT, etc.)-->

</body>
</html>
