
<!DOCTYPE html>
<html lang="en" dir="ltr"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Event Page</title>

    <link href="../static/CreateEventPage.css" th:href="@{CreateEventPage.css}" rel="stylesheet">
    <script src="../static/CreateEventPage.js" th:src="@{CreateEventPage.js}"></script>
    <!--Making static temporariliy...
    <link href="CreateEventPage.css" th:href="@{CreateEventPage.css}" rel="stylesheet">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

<!-- mkaing static temporarily
    <header th:replace="/baseTemplate :: header">
        <img src="hodgelogo.JFIF" alt = "Logo">
    </header>-->

<header th:replace="baseTemplate :: header">
    <img src="../static/hodgelogo.JFIF" alt="hodgelogo">

    </header>

    <div class="main">

        <section id="showevent" th:each="event : ${myEvent}">
            <h1><span th:text="${event.eventName}"></span></h1>
            <table class="table" id="eventtable">
                <tr>
                    <th>Date</th>
                </tr>
                <tr>
                    <td th:text="${event.date}"></td>
                </tr>
                <tr>
                    <th>Time</th>
                </tr>
                <tr>
                    <td th:text="${event.time}"></td>
                </tr>

                <tr>
                    <th>Location</th>
                </tr>
                <tr>
                    <td th:text="${event.location}"></td>
                </tr>
                <tr>
                    <th>Organiser</th>
                </tr>
                <tr>
                    <td th:text="${event.organiserName}"></td>
                </tr>

                <tr>
                    <th>Description</th>
                </tr>
                <tr>
                    <td th:text="${event.description}"></td>
                </tr><br>
            </table>

        <!-- Trigger/Open The Modal -->
    <button id="myBtn">Sign Up</button>

        <!-- The Modal -->
        <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <br>
                    <br>
                    <h1> You are signing up to the <span th:text="${event.eventName}"></span> Event</h1>

                    <form name="signupform" method="PUT" action="/signUp">

                        <!--Hidden form elements to send constant data. peopleId and eventId will need to be dynamic eventually.-->


                        <input id="eventId" name="eventId" type="hidden" th:value="${event.eventID}" /><br>
                        <input id="statusId" name="statusId" type="hidden" value="1" /><br>

                        <!--End of hidden input-->
                        <div th:if="${event.DReq == 1}">
                            <p>Do you have any dietary requirements?</p>
                            <br>
                            <br>
                            <div class="radiocontainer">
                                <input id="dietradio" class="radioinput" type="radio" name="dietReqInput" value="Yes"
                                    onclick="showDietReq()"> Yes
                                <input id="dietradio" class="radioinput" type="radio" name="dietReqInput" value="No"
                                    onclick="hideDietReq()"> No
                            </div>
                            <div id="dietReqForm">
                                <label for="dietReq">Enter Your Requirements:</label>
                                <textarea id="dietReq" name="dietReq"></textarea>
                            </div>
                        </div>
                        <input class="submitbutton" type="submit" value="Sign Me Up!"><br><br><br>
                    </form>
                </div>

    </div><br><br>

    <div id="searchbyevent">
        <form method="GET" action="/searchMyEvents">
            <button class="submitbutton" name="eventId" type="submit" th:value="${event.eventID}">View My Attendees</button><br><br>

            </form>
        </div>
    <div>
            <form method="post" th:action="@{/delete?eventId={id}(id=${event.eventID})}">
                <button class="submitbutton" type="submit">Delete</button>
            </form>
        </div><br><br>
                <form method="post" th:action="@{/cancelAttending(eventId=${event.eventID})}">
                    <button class="submitbutton" type="submit">Cancel Attending</button>
                </form>
    </section>
    </div>

</div>
</div>





<script src="../static/CreateEventPage.js" th:src="@{CreateEventPage.js}"></script>
</body>

</html>