<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="../static/CreateEventPage.css" th:href="@{CreateEventPage.css}" rel="stylesheet">

</head>
<body>

<!-- Thymeleaf fragments. Dynamically copies HTML contained another template file
Syntax of th:replace value is "name_of_template_file :: value_of_html_element_with_th:fragment_as_an_attribute"
Go to baseTemplate.html and find the <header> element with the attribute th:fragment="header"
-->
<header th:replace="baseTemplate :: header"></header>

<main>
    <p>Welcome</p>
</main>

</body>
</html>