<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../static/CreateEventPage.css" th:href="@{CreateEventPage.css}" rel="stylesheet">
    <title>Events Page</title>
</head>

<body>

<header th:replace="baseTemplate.html :: header">
    <img src="../static/hodgelogo.JFIF" alt = "Logo">
</header>

<div class="main">
    <h1>Events</h1>
    <div class="sBar">
        <input type="text" placeholder="Search..">
    </div>

    <br/>
    <div class="eventDiv">
        <section class="eventSection">
            <h2>Postman Pat, the Movie</h2>
            <p>31/11/2019</p>
            <p>Cineworld</p>
            <p>Joshua Elsmore</p>
            <a href="">Link to Event</a>
        </section>
        <section class="eventSection">
            <h2>Pizza and a Pint</h2>
            <p>31/11/2019</p>
            <p>Pizza and a Pint</p>
            <p>Joshua Elsmore</p>
            <a href="">Link to Event</a>
        </section>
    </div>


</div>
</body>
</html>
