<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Events Page</title>
    <link rel="stylesheet" href="DarkLight.css">
    <link href="../static/CreateEventPage.css" th:href="@{CreateEventPage.css}" rel="stylesheet">
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">


    </head>

    <body id="main">

    <header th:replace="baseTemplate.html :: header">
        <img src="../static/hodgelogo.JFIF" alt = "Logo">
    </header>

    <div class="main">
        <h1 id="eventtitle">Events</h1>
    <!--    <div class="sBar">-->
<!--        <input type="text" placeholder="Search..">-->
<!--    </div>-->
    <div id="">
        <p> Click to toggle dark mode </p>
        <label class="switch">
            <input type="checkbox" onclick="darkLight()" id="checkBox" >
            <span class="slider"></span>
        </label>
    </div>
    <br/>
    <form>
        <button type="submit" th:name="selectSQL" value="1">All Events</button>
        <button type="submit" th:name="selectSQL" value="2">All Signed up to Events</button>
        <button type="submit" th:name="selectSQL" value="3">Previous Events</button>
        <button type="submit" th:name="selectSQL" value="4">My Previous Events</button>
    </form>

    <div class="eventDiv">
        <section class="eventSection" th:each="event : ${myEvent}">
            <h2 th:text="${event.eventName}"></h2>
            <p>Date: <span th:text="${event.Date}"></span></p>
            <p>Location:<span th:text="${event.Location}"></span></p>
            <p>Organiser:<span th:text="${event.organiserName}"></span></p>
            <!--<a href="/eventPage.html" th:href="@{eventPage}">Link to Event</a>-->
            <form method="GET" action="/viewSpecificEvent">
                <button id="submitbutton" name="eventId" type="submit" th:value="${event.eventID}">See more details</button><br><br>

            </form>
        </section>
    </div>


</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="../static/DarkLight.js" th:src="@{DarkLight.js}"></script>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
